.chart-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .date-range-picker {
    margin-bottom: 20px;
  }
  
  /* Estilos para hacer que el gráfico sea responsive */
  .chart-container {
    max-width: 100%;
    overflow-x: auto; /* Añadir scroll horizontal si el gráfico es más ancho que el contenedor */
  }
  
  @media screen and (max-width: 768px) {
    .chart-container {
      padding: 10px;
      overflow-x: auto;
    }
  }


.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.selected-filter {
  background-color: green;
  color: white;
}
.filter-buttons button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-buttons button:hover {
    background-color: #0056b3;
}

.date-range-and-summary-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.summary-card {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-left: 20px; /* Space between date picker and summary card */
}

.chart-wrapper {
  flex: 2;
  width: 100%;
}

.summary-card h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}

.summary-card p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}
